.footer-area{
	color:#7f8b98;
	background: #e0e1e2;
}

.footer-bottom{
	background: #011f3e;
}
form.example input[type=text] {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	border-right: none;
	float: left;
	width: 200px;
	height: 35px;
	background: #f1f1f1;
	box-sizing: border-box;
}

.search-btn {
	float: left;
	width: 50px;
	height: 35px;
	background: #f1f1f1;
	color: black;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
}

form.example::after {
	content: "";
	clear: both;
	display: table;
}



